@font-face{
    font-family:'agency fb';
    src: url('../fonts/agency_fb.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'AvenirNext';
    src: url('fonts/AvenirNext-Bold.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Bold.otf') format('opentype') ;
    font-weight: bold;
    font-style: normal;
}

body{
  font-family: AvenirNext !important;
  font-size: 18px !important;
}
